/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}

/* Header Styles */
.site-header {
  text-align: center;
  margin: 20px auto;
  width: 100%;
}
/*.header-title,*/
.sub-header {
  max-width: 80%;
  height: auto;
  margin: 20px auto; /* Center each image */
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  color: #444;
  text-align: center;
}

/* Navigation List Styles */
.nav-wrapper {
  text-align: center;
}

.nav-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

/* Adjust the following as needed */
.nav-image {
  width: 100px;
  flex-shrink: 0;
/*  text-align: right; */
/*  margin-right: 50px; */
}

.nav-text {
  flex: 1;
  text-align: left;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32pt;
}

.nav-image img {
  max-width: 100px;
  height: auto;
}

.nav-text a {
  text-decoration: none;
  color: #333;
}

/* Section Subheader */
.section-subheader {
  max-width: 80%;
  text-align: center;
  margin: 0 auto 40px auto;
}

.films-players {
  max-width: 800px;
  margin: 20px auto;  /* centers the container and adds vertical space */
  text-align: center; /* centers inline content */
}

.film-player {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18pt;
  margin-bottom: 40px; /* space between players */
  border: 1px solid #222; /* dark gray border */
  border-radius: 2px;  /* optional: rounded corners */
}

.about-content {
  max-width: 800px; /* restrict width so it doesn't span the entire browser */
  margin: 0 auto;   /* centers the container horizontally */
  padding: 20px;    /* optional padding for better spacing */
  text-align: center; /* centers inline content, such as text, within the container */
}
